  <head>
    <title>Presentation</title>
    <meta charset='utf-8'>
    <script src='/html5slides/slides.js'></script>
    <style>
    </style>
  </head>
  
  <body style='display:none;'>
    <section class='slides layout-regular template-ishikawa'>
    <%- slides %>
    </section>
  </body>