  <head>
    <title>Presentation</title>
    <meta charset='utf-8'>
    <script src='/slides.js'></script>
    <!--
    <script src='http://html5slides.googlecode.com/svn/trunk/slides.js'></script>
    -->
    <style>
    </style>
  </head>
  
  <body style='display:none;'>
    <section class='slides layout-regular template-default'>
    <%- slides %>
    </section>
  </body>